{% extends "core/base.html" %}

{% block og:title %}What's On{% endblock og:title %}
{% block twitter:title %}What's On{% endblock twitter:title %}

{% block og:image %}{% load static %}{% static 'images/home.jpg' %}{% endblock og:image %}
{% block twitter:image %}{% load static %}{% static 'images/home.jpg' %}{% endblock twitter:image %}

{% block title %}What's On{% endblock title %}

{% block content %}

  <h1 class="font-weight-bold mt-5">What's On</h1>

  <div class="mt-5">
    {% if screenings %}

      {% include "../includes/screening_loop.html" %}

    {% else %}

      <p class="">There are no upcoming screenings</p>

    {% endif %}

  </div>

{% endblock content %}
