{% extends "core/base.html" %}
{% block title %}
  Venues
{% endblock title %}

{% block content %}
{% load thumbnail %}

{% if user.is_authenticated %}
  <a href="/screenings/screening_list/" class="btn btn-primary mt-3">Screening List</a>

{% endif %}

<div class="mt-5">
  <h1 class="display-4">What's On</h1>
    {% if screenings %}

    <div class="row mt-5">

        {% for screening in screenings %}
        <div class="col-sm-4">
          <div class="card mb-4">
                <a href="/screenings/{{screening.id}}/">
                  <img src="{{ screening.film.image|thumbnail_url:'cardThumb' }}" class="card-img-top">
                </a>
                <div class="card-body">
                  <div class="card-title h5"><a href="/screenings/{{screening.id}}/">{{ screening.film }}</a></div>
                  <div class="card-text">{{ screening.venue }}, {{ screening.venue.city }}</div>
                  <div class="card-text">{{ screening.date }} {{ screening.start_time }}</div>
                  <a href="{{ screening.tickets }}" target="_blank" class="btn btn-primary mt-3">Buy tickets</a>
                </div>
          </div>
        </div>
        {% endfor %}
    </div>

    {% else %}

        <p class="">There are no upcoming screenings</p>

  {% endif %}
</div>
{% endblock content %}
