{% extends "core/base.html" %}

{% block og:title %}{{ screening.film }} - {{ screening.venue }}, {{ screening.venue.city }}{% endblock og:title %}
{% block twitter:title %}{{ screening.film }} - {{ screening.venue }}, {{ screening.venue.city }}{% endblock twitter:title %}

{% block og:image %}{{ screening.film.image.url }}{% endblock og:image %}
{% block twitter:image %}{{ screening.film.image.url }}{% endblock twitter:image %}

{% block title %}{{ screening.film }} - {{ screening.venue }}, {{ screening.venue.city }}{% endblock title %}

{% block banner %}
  <div class="jumbotron mt-5 banner" style="background-image: linear-gradient(#00000080, #0200007d), url({{ screening.film.image.url }});">
    <h1 class="display-3 text-white mt-5 font-weight-bold banner-title">{{ screening.film }}</h1>
    <div class="social-icons">
        <a target="_blank" href="https://twitter.com/intent/tweet?text=http://{{ request.get_host }}/screenings/{{screening.id}} {{ screening.film }} showing at {{ screening.venue }} on {{ screening.date }}"><i class="fab fa-twitter"></i></a>
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://{{ request.get_host }}/screenings/{{screening.id}}"><i class="fab fa-facebook-f"></i></a>

    </div>
  </div>
{% endblock %}

{% block content %}
{% load thumbnail %}

{% if user.is_authenticated %}
  <a href="{% url 'screening-update' screening.id %}" class="btn-sm btn-dark mb-5">Edit Screening</a>
  <a href="{% url 'screening-delete' screening.id %}" class="btn-sm btn-dark mb-5">Delete Screening</a>
{% endif %}

  <div class="col-10 mb-5">
    <h4>{{ screening.subtitle }}</h4>
    <h4 class=""><a href="{% url 'venue-detail' screening.venue.slug screening.venue.id %}">{{ screening.venue }}</a>, {{ screening.venue.city }}</h4>
    <h4>{{ screening.date }} {{ screening.start_time }} </h4>

    {% if screening.q_and_a %}
      <button class="btn-sm btn-secondary mt-2 mb-2">Q&A</button>
    {% endif %}

    {% if screening.season %}
    <p>Season: <a href="{% url 'season-detail' screening.season.slug screening.season.id %}">{{ screening.season }}</a></p>
    {% endif %}

    <div class="mt-2 mb-3">
      {% if screening.screening_passed %}
        <div class="alert alert-danger mt-2" role="alert">
          Sorry you missed it! This screening has already taken place.
        </div>
        {% else %}
        <a href="{{ screening.tickets }}" onclick="gtag('event', 'click', {'event_category': 'outbound', 'event_label': '{{ screening.venue }}, {{ screening.film }}, id:{{ screening.id }}'});" target="_blank" class="mr-3 btn btn-primary">Buy Tickets</a>
      {% endif %}
      {% if screening.film.trailer %}
      <a data-fancybox href="{{ screening.film.trailer }}" onclick="gtag('event', 'click', {'event_category': 'trailer', 'event_label': 'trailer, {{ screening.venue }}, {{ screening.film }}, id:{{ screening.id }}'});" class="btn btn-outline-secondary"><i class="fas fa-play-circle"></i> Trailer</a>
      {% endif %}
    </div>

    {% if screening.copy %}
    <p>{{ screening.copy }}</p>
    {% endif %}

<hr>

    <p><strong>Director:</strong> {{ screening.film.director }}<br>
    <strong>Cast:</strong> {{ screening.film.cast }}<br>
    <strong>Country:</strong> {{ screening.film.country }}<br>
    <strong>Year:</strong> {{ screening.film.year }}<br>
    <strong>Duration:</strong> {{ screening.film.length }} minutes<br>
    <strong>Certificate:</strong> {{ screening.film.certificate }}</p>

    <p>{{ screening.film.copy }}</p>

  </div>

<hr>

  <div class="mt-5">
      {% if screenings %}
      <h1 class="display-5">Related Screenings</h1>

      {% include "../includes/screening_loop.html" %}

    {% endif %}
  </div>

{% endblock content %}
