{% extends "core/base.html" %}

{% block og:title %}{% endblock og:title %}
{% block twitter:title %}{% endblock twitter:title %}

{% block og:image %}{% load static %}{% static 'images/home.jpg' %}{% endblock og:image %}
{% block twitter:image %}{% load static %}{% static 'images/home.jpg' %}{% endblock twitter:image %}


{% block title %}
  What's On
{% endblock title %}

{% block content %}
{% load thumbnail %}


<div class="container">
  <h1 class="display-3 font-weight-bold">What's On</h1>

  <div class="mt-5">
    {% if screenings %}

      {% include "../includes/screening_loop.html" %}

      <hr>
      {% if is_paginated %}

        {% include "../includes/pagination.html" %}

      {% endif %}

    {% else %}

      <p class="">There are no upcoming screenings</p>

    {% endif %}

  </div>

</div>

{% endblock content %}
