{% extends "core/base.html" %}

{% block og:title %}This Month{% endblock og:title %}
{% block twitter:title %}This Month{% endblock twitter:title %}

{% block og:image %}{% load static %}{% static 'images/home.jpg' %}{% endblock og:image %}
{% block twitter:image %}{% load static %}{% static 'images/home.jpg' %}{% endblock twitter:image %}

{% block title %}What's On{% endblock title %}

{% block description %}{{ description }}{% endblock description %}

{% block schema %}
    "@type": "Project",
    "name" : "{{ title }}",
    "url" : "https://{{ request.get_host }}",
    "logo" : "{% static 'icons/icon.png' %}"
{% endblock schema %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5" defer></script>
<script src="{% static 'thismonth.js' %}" defer></script>

  <h1 class="font-weight-bold mt-5">What's On This Month</h1>

  <div id="whatson" class="mt-5">
    {% if screenings %}
      <div class="row mt-5">
          <div class="col-sm-4" v-for="screening in screenings">

            <div class="card mb-4">
              <a :href="`/screenings/${ screening.id }/`" class="card-link">
                <img :src="`${ screening.film.image_thumbnail }`" class="card-img-top">
              </a>
              <div class="card-body">
                <div class="card-title h4"><a :href="`/screenings/${ screening.id }/`">${ screening.film.name }</a></div>
                <div class="card-text text-muted">${ screening.venue.name }, ${ screening.venue.city }</div>
                <div class="card-text text-muted">${ screening.date } - ${ screening.start_time }</div>
                <a :href="`${ screening.tickets }`" target="_blank" rel="noopener" class="btn btn-outline-primary mt-3">Buy tickets</a>
              </div>
            </div>

          </div>
      </div>
    {% else %}
      <p>There are no screenings this month.</p>
      
    {% endif %}

      <hr>
  </div>

{% endblock content %}
