{% extends "core/base.html" %}

{% block og:title %}{{ object.name }}{% endblock og:title %}
{% block twitter:title %}{{ object.name }}{% endblock twitter:title %}

{% block og:image %}{{ film.image.url }}{% endblock og:image %}
{% block twitter:image %}{{ film.image.url }}{% endblock twitter:image %}


{% block title %}
  {{ object.name }}
{% endblock title %}

{% block banner %}
  <div class="jumbotron mt-5 banner" style="background-image: linear-gradient(#00000080, #0200007d), url({{ film.image.url }});">
    <h1 class="display-4 text-white mt-5 font-weight-bold banner-title">{{ object.name }}</h1>
  </div>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

{% if user.is_authenticated %}
  <a href="{% url 'film-update' film.slug film.id %}" class="btn-sm btn-dark mb-5">Edit Film</a>
  <a href="{% url 'film-delete' film.slug film.id %}" class="btn-sm btn-dark mb-5">Delete Film</a>
{% endif %}

  <div class="col-10 mb-5">
    <p><strong>Director:</strong> {{ object.director }}<br>
    <strong>Cast:</strong> {{ object.cast }}<br>
    <strong>Country:</strong> {{ object.country }}<br>
    <strong>Year:</strong> {{ object.year }}<br>
    <strong>Duration:</strong> {{ object.length }} minutes<br>
    <strong>Certificate:</strong> {{ object.certificate }}</p>

    {% if object.trailer %}
    <a data-fancybox href="{{ object.trailer }}" class="mb-3 btn btn-outline-secondary">Play Trailer</a>
    {% endif %}

    <p>{{ object.copy }}</p>

    {% if object.quote %}
      <blockquote class="blockquote mt-4">
        <p class="mb-0">"{{ object.quote }}"</p>
        {% if object.quote_source %}
          <footer class="blockquote-footer"><cite title="Source Title">{{ object.quote_source }}</cite></footer>
        {% endif %}
      </blockquote>
    {% endif %}
      
  </div>

<hr>

  <div class="mt-5">
    {% if object_list %}
      <h1 class="display-5">Upcoming Screenings</h1>

      <div class="row mt-5">
        <table class="table col-sm-8 table-striped">
          <tbody>
          {% for object in object_list %}
            <tr>
              <td class="font-weight-bold"><a href="/screenings/{{object.id}}/">{{ object.film }}</a></td>
              <td>{{ object.venue }}, {{ object.venue.city }}</td>
              <td>{{ object.date|date:"l j F" }} {{ object.start_time|time:"H:i" }}</td>
              <td><a href="{{ object.tickets }}" target="_blank" class="btn btn-outline-primary mt-3">Buy tickets</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>

      {% if is_paginated %}

        {% include "../includes/pagination.html" %}

      {% endif %}

    {% endif %}
  </div>

  <div class="mt-5">
      <h5><a href="{% url 'film-archive' film.slug film.id %}">Past Screenings of {{ object.name }} ></a></h5>
      <hr>
  </div>

{% endblock content %}
