{% extends "core/base.html" %}
{% block title %}
  {{ object.name }}
{% endblock title %}
{% block content %}
{% load thumbnail %}
<div class="banner">
  <picture>
    <img src="{{ film.image.url }}" alt="">
  </picture>
  <div class="banner-content container">

  </div>
</div>
<div class="container">
  <div class="col-10 mb-5">
    <h1 class="display-3 font-weight-bold">{{ object.name }}</h1>

    <h6>{{ object.director }}</h6>
    <p>{{ object.country }} // {{ object.year }} // {{ object.length }} // {{ object.certificate }}</p>
    <p>{{ object.cast }}</p>
    <p>{{ object.copy }}</p>
  </div>

<hr>

  <div class="mt-5">
      {% if screenings %}
      <h1 class="display-5">Upcoming Screenings</h1>

      <div class="row mt-5">
        <table class="table col-sm-8 table-striped">
          <tbody>
          {% for screening in screenings %}
            <tr>
              <td><a href="/screenings/{{screening.id}}/">{{ screening.film }}</a></td>
              <td>{{ screening.venue }}, {{ screening.venue.city }}</td>
              <td>{{ screening.date }} {{ screening.start_time }}</td>
              <td><a href="{{ screening.tickets }}" target="_blank" class="btn btn-primary mt-3">Buy tickets</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    {% endif %}
  </div>

  <div class="mt-5">
      {% if pastscreenings %}
      <h1 class="display-5">Past Screenings</h1>

      <div class="row mt-5">
        <table class="table table-striped col-sm-8">
          <tbody>
          {% for screening in pastscreenings %}
            <tr>
              <td><a href="/screenings/{{screening.id}}/">{{ screening.film }}</a></td>
              <td>{{ screening.venue }}, {{ screening.venue.city }}</td>
              <td>{{ screening.date }} {{ screening.start_time }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    {% endif %}
  </div>

  </div>

{% endblock content %}
