{% extends "core/base.html" %}
{% block title %}
  Films
{% endblock title %}

{% block content %}
{% load thumbnail %}

<div class="container">
  <h1 class="display-3 font-weight-bold">Films</h1>
    {% if films %}

    <div class="row mt-5">

      {% for film in films %}
        <div class="col-sm-4">
            <div class="card mb-4">
              <a href="{% url 'film-detail' film.slug film.id %}">
                <img src="{{ film.image|thumbnail_url:'cardThumb' }}" class="card-img-top">
              </a>
              <div class="card-body">
                <div class="card-title h5"><a href="{% url 'film-detail' film.slug film.id %}">{{ film.name }}</a></div>
                <div class="card-text">{{ film.director }} // {{ film.year }}</div>
                <a href="{% url 'film-detail' film.slug film.id %}" class="btn btn-primary mt-3">Find screenings</a>
              </div>
            </div>
        </div>

      {% endfor %}
    </div>

    {% if is_paginated %}

      {% include "../includes/pagination.html" %}

    {% endif %}
  {% endif %}
</div>
{% endblock content %}
