{% extends "core/base.html" %}
{% block title %}
  {{ object.name }}
{% endblock title %}
{% block content %}
  <div class="mt-5">
    <br>
    <div class="container">
      <h1>{{ object.name }}</h1>
      <img src="{{ film.image.url }}" class="img-responsive">
      <h6>{{ object.director }}</h6>
    </div>
      <p>{{ object.country }} // {{ object.year }} // {{ object.length }} // {{ object.certificate }}</p>
      <p>{{ object.cast }}</p>
      <p>{{ object.copy }}</p>
  </div>

  {% if screenings %}
    <h3>Upcoming Screenings</h3>

    <div class="columns">
      {% for screening in screenings %}
        <div class="column col-4">
            <div class="card">
              <div class="card-image">
                <img src="{{ screening.film.image.url }}" class="img-responsive">
              </div>
              <div class="card-header">
                <div class="card-title h5"><a href="{% url 'screening-detail' screening.slug screening.id %}">{{ screening.film }}</a></div>
                <div class="card-subtitle text-gray">{{ screening.venue }}</div>
              </div>
              <div class="card-body">
                {{ screening.date }} {{ screening.start_time }}
              </div>
              <div class="card-footer">
                <a href="{{ screening.tickets }}" target="_blank" class="btn btn-primary">Buy tickets</a>
              </div>
            </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if pastscreenings %}
    <h3>Past Screenings</h3>

    <div class="columns">
      {% for screening in pastscreenings %}
        <div class="column col-4">
            <div class="card">
              <div class="card-image">
                <img src="{{ screening.film.image.url }}" class="img-responsive">
              </div>
              <div class="card-header">
                <div class="card-title h5"><a href="{% url 'screening-detail' screening.slug screening.id %}">{{ screening.film }}</a></div>
                <div class="card-subtitle text-gray">{{ screening.venue }}</div>
              </div>
              <div class="card-body">
                {{ screening.date }} {{ screening.start_time }}
              </div>
            </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}

{% endblock content %}
