{% extends "core/base.html" %}

{% block og:title %}Films{% endblock og:title %}
{% block twitter:title %}Films{% endblock twitter:title %}

{% block og:image %}{% load static %}{% static 'images/home.jpg' %}{% endblock og:image %}
{% block twitter:image %}{% load static %}{% static 'images/home.jpg' %}{% endblock twitter:image %}

{% block title %}Films{% endblock title %}

{% block content %}

<div class="container">
  <h1 class="display-3 font-weight-bold mt-5">Films</h1>
    {% if films %}

    <div class="row mt-5">

      {% for film in films %}
        <div class="col-sm-4">
            <div class="card mb-4">
              <a href="{% url 'film-detail' film.slug film.id %}" class="card-link">
                <img src="{{ film.image_thumbnail.url }}" alt="{{ film.name }}" class="card-img-top">
              </a>
              <div class="card-body">
                <div class="card-title h5"><a href="{% url 'film-detail' film.slug film.id %}">{{ film.name }}</a></div>
                <div class="card-text text-muted">{{ film.director }} // {{ film.year }}</div>
                <a href="{% url 'film-detail' film.slug film.id %}" class="btn btn-outline-primary mt-3">Find screenings</a>
              </div>
            </div>
        </div>

      {% endfor %}
    </div>

    {% if is_paginated %}

      {% include "../includes/pagination.html" %}

    {% endif %}
  {% endif %}
</div>
{% endblock content %}
