body {
  font-family: Avenir;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    min-height: 175px;
    object-fit: cover;
}

.main {
  min-height: 600px;
}

.banner {
  background-color: #000;
  height: 398px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0.8;
}

.banner-content {
  position: absolute;
  z-index: 10;
}

.no-overflow {
  overflow: hidden;
}

.footer {
  background: #000;
  color: #fff;
  height: 150px;
  vertical-align: middle;
}
