body {
  font-family: Avenir;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    min-height: 175px;
    object-fit: cover;
}

.main {
  min-height: 600px;
}

.no-overflow {
  overflow: hidden;
}

.footer {
  background: #000;
  color: #fff;
  height: 150px;
  vertical-align: middle;
}
