{% extends "core/base.html" %}

{% block og:title %}Articles{% endblock og:title %}
{% block twitter:title %}Articles{% endblock twitter:title %}

{% block og:image %}{% load static %}{% static 'images/home.jpg' %}{% endblock og:image %}
{% block twitter:image %}{% load static %}{% static 'images/home.jpg' %}{% endblock twitter:image %}


{% block title %}Articles{% endblock title %}

{% block content %}

<div class="container">
  <h1 class="font-weight-bold mt-5">Articles</h1>

  {% if articles %}
        {% for article in articles %}
        <a href="{% url 'article-detail' article.slug article.id %}" class="article-card">
          <div class="jumbotron jumbotron-fluid banner mt-5 text-center" alt="{{ article.title }}" style="background-image: linear-gradient(#00000080, #0200007d), url({{ article.image_thumbnail.url }});">
            <h1 class="text-white mt-5 font-weight-bold"><span>{{ article.title }}</span></h1>
            <p class="lead text-white">
                {% if article.show_author %}{{ article.author }}{% endif %}
                {% if article.show_date %} // {{ article.date|date:"l j F" }}{% endif %}
              </p>
          </div>
        </a>
        {% endfor %}
  {% endif %}

  {% if is_paginated %}

    {% include "../includes/pagination.html" %}

  {% endif %}

</div>
{% endblock content %}
