{% extends "core/base.html" %}

{% block og:title %}{{ object.title }}{% endblock og:title %}
{% block twitter:title %}{{ object.title }}{% endblock twitter:title %}

{% block og:image %}{{ object.image.url }}{% endblock og:image %}
{% block twitter:image %}{{ object.image.url }}{% endblock twitter:image %}

{% block title %}
  {{ object.title }}
{% endblock title %}

{% block banner %}
  <div class="banner banner-article">
    <picture>
      <img src="{{ object.image.url }}" alt="">
    </picture>
    <div class="banner-content container">

    </div>
  </div>
{% endblock %}

{% block content %}

  {% if user.is_authenticated %}
    <a href="{% url 'article-update' article.slug article.id %}" class="btn-sm btn-dark mb-5">Edit Article</a>
    <a href="{% url 'article-delete' article.slug article.id %}" class="btn-sm btn-dark mb-5">Delete Article</a>
  {% endif %}

  <div class="col-10 mb-3">
    <h1 class="display-4 font-weight-bold">{{ object.title }}</h1>
    {% if article.show_author %}<h4 class="text-secondary">{{ object.author }}</h4>{% endif %}
    {% if article.show_date %}<h4 class="text-secondary">{{ object.date }}</h4>{% endif %}
  </div>

  <hr>

  <div class="col-md-8 article-text">
    <p>{{ object.text|safe }}</p>
  </div>

{% endblock content %}
