{% extends "core/base.html" %}

{% block og:title %}Articles{% endblock og:title %}
{% block twitter:title %}Articles{% endblock twitter:title %}

{% block og:image %}{% load static %}{% static 'images/home.jpg' %}{% endblock og:image %}
{% block twitter:image %}{% load static %}{% static 'images/home.jpg' %}{% endblock twitter:image %}


{% block title %}
  Articles
{% endblock title %}

{% block content %}
{% load thumbnail %}

<div class="container">
  <h1 class="display-3 font-weight-bold">Articles</h1>

  {% if articles %}
    <div class="row mt-5">
      {% for article in articles %}
        <div class="col-sm-6">
          <a class="card mb-5" href="{% url 'article-detail' article.slug article.id %}">
              <img src="{{ article.image|thumbnail_url:'panelThumb' }}" class="card-img-top card-article" alt="">
              <div class="card-body">
                <h4 class="card-title">{{ article.title }}</h4>
                <p class="card-text">
                  {% if article.show_author %}{{ article.author }},{% endif %}
                  {% if article.show_date %}{{ article.date }}{% endif %}
                </p>
              </div>
          </a>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if is_paginated %}

    {% include "../includes/pagination.html" %}

  {% endif %}

</div>
{% endblock content %}
