{% extends "core/base.html" %}
{% block title %}
  Articles
{% endblock title %}

{% block content %}

<div class="mt-5">
  <h1 class="display-4">Articles</h1>
    {% if articles %}

    <div class="columns">
      {% for article in articles %}
        <div class="column col-4">
            <div class="card">
              <div class="card-image">
                <img src="https://picturepan2.github.io/spectre/img/macos-sierra.jpg" class="img-responsive">
              </div>
              <div class="card-header">
                <div class="card-title h5"><a href="{% url 'film-detail' film.slug film.id %}">{{ article.title }}</a></div>
                <div class="card-subtitle text-gray">{{ article.date }} // {{ article.author }}</div>
              </div>
              <div class="card-footer">
                <a href="{% url 'article-detail' article.slug article.id %}" class="btn btn-primary">Read more</a>
              </div>
            </div>
        </div>
      {% endfor %}
    </div>

    {% else %}
      <div class="empty">
        <div class="empty-icon">
          <i class="icon icon-cross"></i>
        </div>
        <p class="empty-title h5">There are no articles</p>
      </div>
  {% endif %}
</div>
{% endblock content %}
