{% extends "core/base.html" %}

{% block og:title %}{{ object.name }}{% endblock og:title %}
{% block twitter:title %}{{ object.name }}{% endblock twitter:title %}

{% block og:image %}{{ season.image.url }}{% endblock og:image %}
{% block twitter:image %}{{ season.image.url }}{% endblock twitter:image %}


{% block title %}
  {{ object.name }}
{% endblock title %}
{% load thumbnail %}

{% block banner %}
  <div class="jumbotron mt-5 banner" style="background-image: linear-gradient(#00000080, #0200007d), url({{ season.image.url }});">
    <h1 class="display-4 text-white mt-5 font-weight-bold banner-title">{{ object.name }}</h1>
  </div>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
  <a href="{% url 'season-update' season.slug season.id %}" class="btn-sm btn-dark mb-5">Edit Season</a>
  <a href="{% url 'season-delete' season.slug season.id %}" class="btn-sm btn-dark mb-5">Delete Season</a>
{% endif %}

  <div class="col-10 mb-5">
    <p>{{ object.copy }}</p>
  </div>

<hr>

  <div class="mt-5">
      {% if screenings %}
        <h1 class="display-5">What's On</h1>

        {% include "../includes/screening_loop.html" %}
    {% endif %}
  </div>


  <div class="mt-5">
    <h1 class="display-5">Past Screenings</h1>
      {% if pastscreenings %}

      <div class="row mt-5">

          {% for screening in pastscreenings %}
          <div class="col-sm-4">
            <div class="card mb-4">
                  <a href="/screenings/{{screening.id}}/" class="card-link">
                    <img src="{{ screening.film.image|thumbnail_url:'cardThumb' }}" class="card-img-top">
                  </a>
                  <div class="card-body">
                    <div class="card-title h5"><a href="/screenings/{{screening.id}}/">{{ screening.film }}</a></div>
                    <div class="card-text">{{ screening.venue }}, {{ screening.venue.city }}</div>
                    <div class="card-text">{{ screening.date }} {{ screening.start_time }}</div>
                  </div>
            </div>
          </div>
          {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock content %}
