{% extends "core/base.html" %}
{% block title %}
  Venues
{% endblock title %}

{% block content %}
{% load thumbnail %}

<div class="mt-5">
  <h1 class="display-4">Seasons</h1>
    {% if seasons %}

    <div class="row mt-5">
      {% for season in seasons %}
        <div class="col-sm-4">
            <div class="card mb-4">
              <a href="{% url 'season-detail' season.slug season.id %}">
                <img src="{{ season.image|thumbnail_url:'cardThumb' }}" class="card-img-top">
              </a>
              <div class="card-body">
                <div class="card-title h5"><a href="{% url 'season-detail' season.slug season.id %}">{{ season.name }}</a></div>
                <a href="{% url 'season-detail' season.slug season.id %}" class="btn btn-primary mt-3">Find out more</a>
              </div>
            </div>
        </div>
      {% endfor %}
    </div>

{% else %}

<p class="">There are no upcoming seasons</p>

{% endif %}
</div>
{% endblock content %}
