{% extends "core/base.html" %}
{% block title %}
  {{ object.name }}
{% endblock title %}
{% block content %}
{% load thumbnail %}
<div class="banner">
  <picture>
    <img src="{{ season.image.url }}" alt="">
  </picture>
  <div class="banner-content container">

  </div>
</div>
<div class="container">

  <div class="col-10 mb-5">
    <h1 class="display-3 font-weight-bold">{{ object.name }}</h1>
    <p>{{ object.copy }}</p>
  </div>

<hr>

  <div class="mt-5">
      {% if screenings %}
      <h1 class="display-5">What's On</h1>

      <div class="row mt-5">

          {% for screening in screenings %}
          <div class="col-sm-4">
            <div class="card mb-4">
                  <a href="/screenings/{{screening.id}}/">
                    <img src="{{ screening.film.image|thumbnail_url:'cardThumb' }}" class="card-img-top">
                  </a>
                  <div class="card-body">
                    <div class="card-title h5"><a href="/screenings/{{screening.id}}/">{{ screening.film }}</a></div>
                    <div class="card-text">{{ screening.venue }}, {{ screening.venue.city }}</div>
                    <div class="card-text">{{ screening.date }} {{ screening.start_time }}</div>
                    <a href="{{ screening.tickets }}" target="_blank" class="btn btn-primary mt-3">Buy tickets</a>
                  </div>
            </div>
          </div>
          {% endfor %}
      </div>
    {% endif %}
  </div>


  <div class="mt-5">
    <h1 class="display-5">Past Screenings</h1>
      {% if pastscreenings %}

      <div class="row mt-5">

          {% for screening in pastscreenings %}
          <div class="col-sm-4">
            <div class="card mb-4">
                  <a href="/screenings/{{screening.id}}/">
                    <img src="{{ screening.film.image|thumbnail_url:'cardThumb' }}" class="card-img-top">
                  </a>
                  <div class="card-body">
                    <div class="card-title h5"><a href="/screenings/{{screening.id}}/">{{ screening.film }}</a></div>
                    <div class="card-text">{{ screening.venue }}, {{ screening.venue.city }}</div>
                    <div class="card-text">{{ screening.date }} {{ screening.start_time }}</div>
                  </div>
            </div>
          </div>
          {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
{% endblock content %}
