{% extends "core/base.html" %}

{% block og:title %}Seasons{% endblock og:title %}
{% block twitter:title %}Seasons{% endblock twitter:title %}

{% block og:image %}{% load static %}{% static 'images/home.jpg' %}{% endblock og:image %}
{% block twitter:image %}{% load static %}{% static 'images/home.jpg' %}{% endblock twitter:image %}

{% block title %}Seasons{% endblock title %}

{% block content %}

  <h1 class="font-weight-bold mt-5">Seasons</h1>
    {% if seasons %}

    <div class="row mt-5">
      {% for season in seasons %}
        <div class="col-sm-4">
            <div class="card mb-4">
              <a href="{% url 'season-detail' season.slug season.id %}" class="card-link">
                <img src="{{ season.image_thumbnail.url }}" alt="{{ season.name }}" class="card-img-top">
              </a>
              <div class="card-body">
                <div class="card-title h5"><a href="{% url 'season-detail' season.slug season.id %}">{{ season.name }}</a></div>
                <a href="{% url 'season-detail' season.slug season.id %}" class="btn btn-outline-primary mt-3">Find out more</a>
              </div>
            </div>
        </div>
      {% endfor %}
    </div>

    {% if is_paginated %}

      {% include "../includes/pagination.html" %}

    {% endif %}

{% endif %}
{% endblock content %}
