{% extends "core/base.html" %}
{% block title %}
  Venues
{% endblock title %}

{% block content %}

<div class="mt-5">
  <h1 class="display-4">Seasons</h1>
    {% if seasons %}

    <div class="columns">
      {% for season in seasons %}
        <div class="column col-4">
            <div class="card">
              <div class="card-image">
                <img src="{{ season.image.url }}" class="img-responsive">
              </div>
              <div class="card-header">
                <div class="card-title h5"><a href="{% url 'season-detail' season.slug season.id %}">{{ season.name }}</a></div>
              </div>
              <div class="card-footer">
                <a href="{% url 'season-detail' season.slug season.id %}" class="btn btn-primary">Find out more</a>
              </div>
            </div>
        </div>
      {% endfor %}
    </div>

    {% else %}
      <div class="empty">
        <div class="empty-icon">
          <i class="icon icon-cross"></i>
        </div>
        <p class="empty-title h5">There are no upcoming seasons</p>
      </div>
  {% endif %}
</div>
{% endblock content %}
