{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="canonical" href="" />

  <meta property="og:type" content="website" />
  <meta property="og:locale" content="en_gb" />
  <meta property="og:title" content="Ostende - {% block og:title %}{% endblock %}" />
  <meta property="og:description" content="{% block og:description %}{% endblock %}" />
  <meta property="og:image" content="" />
  <meta property="og:site_name" content="Ostende" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{% block twitter:image %}{% endblock %}" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  {% load static %}
  <meta property="og:image" content="{% static 'icons/apple-icon-180x180.png' %}" />
  <link rel="apple-touch-icon" type="image/png" href="{% static 'icons/apple-icon.png' %}" />
  <link rel="apple-touch-icon-180x180" sizes="180x180" type="image/png" href="{% static 'icons/apple-icon-180x180.png' %}" />
  <link rel="icon" type="image/png" sizes="192x192" href="{% static 'icons/icon-hires.png' %}" />

  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

  <title>Ostende - {% block title %}{% endblock %}</title>

  <!-- Optional JavaScript -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  </head>
  <body>

    <header role="banner" class="site-header">

      <div class="container text-center mt-5">

      <nav class="navbar navbar-expand-md navbar-light fixed-top bg-white">
        <div class="container">

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mx-auto">
              <a class="nav-item nav-link" href="{% url 'screenings' %}">What's On</a>
              <a class="nav-item nav-link" href="#">About</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
  {% if user.is_authenticated %}
    <nav class="navbar fixed-bottom navbar-dark bg-dark navbar-expand-md navbar">
      <div class="container">
        <a class="navbar-brand mr-4" href="/">Ostende</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">

            <div class="navbar-nav">
              <div class="btn-group dropup">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  New
                </button>
                <div class="dropdown-menu bg-dark">
                  <a href="/venues/new/" class="nav-item nav-link">Add Venue</a>
                  <a href="/films/new/" class="nav-item nav-link">Add Film</a>
                  <a href="/seasons/new/" class="nav-item nav-link">Add Season</a>
                  <a href="/screenings/new/" class="nav-item nav-link">Add Screening</a>
                  <a href="/articles/new/" class="nav-item nav-link">Add Article</a>
                </div>
              </div>
              <a class="nav-item nav-link" href="{% url 'venues' %}" class="btn btn-link">Venues</a>
              <a class="nav-item nav-link" href="{% url 'films' %}" class="btn btn-link">Films</a>
              <a class="nav-item nav-link" href="{% url 'seasons' %}" class="btn btn-link">Seasons</a>
              <a class="nav-item nav-link" href="{% url 'screenings' %}" class="btn btn-link">Screenings</a>
              <a class="nav-item nav-link" href="/screenings/screening_list/" class="btn btn-link">Screening List</a>
              <a class="nav-item nav-link" href="{% url 'articles' %}" class="btn btn-link">Articles</a>
              <a class="nav-item nav-link" href="#" class="btn btn-link">|</a>
              <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
          </div>

        </div>
      </div>
    </nav>
  {% endif %}

    <main role="main" class="main">

        {% block banner %}

        {% endblock %}


      <div class="container">
        {% block content %}

        {% endblock %}
      </div>

    </main>

    <footer class="footer text-white mt-5">
      <div class="container pt-3">
        <hr class="border-white seperator mt-5">
      </div>
      <div class="container">
        <div class="row pt-5">
          <div class="col">
            <nav class="nav flex-column">
              <a class="nav-link text-white" href="/">Ostende</a>
              <a class="nav-link text-white" href="#">About</a>
              <a class="nav-link text-white" href="{% url 'venues' %}">Venues</a>
              <a class="nav-link text-white" href="{% url 'films' %}">Films</a>
              <a class="nav-link text-white" href="{% url 'seasons' %}">Seasons</a>
            </nav>
          </div>
          <div class="col">
            <div class="logo">
              <img class="footer-logo" src="{% static 'images/logo1.svg' %}">
            </div>
          </div>
          <div class="col">
            <div class="logo">
              <img class="footer-logo" src="{% static 'images/logo1.svg' %}">
            </div>
          </div>
          <div class="col">
            <div class="logo">
              <img class="footer-logo" src="{% static 'images/logo1.svg' %}">
            </div>
          </div>
        </div>
        <div class="row pt-3">
          <p class="small">Built by <a href="https://rae.li" class="text-white" target="_blank">rae.li</a></p>
        </div>

      </div>
    </footer>

    </div>



  </body>
</html>
