{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

  <title>Ostende - {% block title %}{% endblock %}</title>

  <!-- Optional JavaScript -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  </head>
  <body>

    <header role="banner" class="site-header">
      <div class="container text-center mt-5">
        <a href="/"><h1 class="max-auto display-4">Ostende Logo
        </h1></a>
      <nav class="navbar navbar-expand-md navbar-light fixed-top bg-white">
        <div class="container">
          <!-- <a class="navbar-brand mr-4" href="/">Ostende</a> -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mx-auto">
              <a class="nav-item nav-link" href="{% url 'screenings' %}">What's On</a>
              <a class="nav-item nav-link" href="#">About</a>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main role="main" class="main">
      <div class="columns">

        <div class="column col-12">

          {% block content %}{% endblock %}
        </div>
      </div>
    </main>

    <footer class="footer mt-5">
      <nav class="navbar pt-4 navbar-expand-md navbar">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Ostende</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            {% if user.is_authenticated %}
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{% url 'venues' %}" class="btn btn-link">Venues</a>
                <a class="nav-item nav-link" href="{% url 'films' %}" class="btn btn-link">Films</a>
                <a class="nav-item nav-link" href="{% url 'seasons' %}" class="btn btn-link">Seasons</a>
                <a class="nav-item nav-link" href="{% url 'screenings' %}" class="btn btn-link">Screenings</a>
                <a class="nav-item nav-link" href="{% url 'articles' %}" class="btn btn-link">Articles</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
            </div>
            {% endif %}
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="row">
          <div class="col">

          </div>
          <div class="col">
            <p class="text-center">Footer</p>
          </div>
          <div class="col">

          </div>
        </div>

      </div>

    </div>



  </body>
</html>
