{% extends "core/base.html" %}
{% block title %}
  What's On
{% endblock title %}
{% block content %}

    <div class="hero hero-lg bg-dark">
      <div class="hero-body">
        <h1>What's On</h1>
        <p>Example</p>
      </div>
    </div>

{% if screenings %}

  <div id ="whatson" class="columns mt-2">

      <div class="column col-4 mt-2" v-for="screening in screenings">
          <div class="card">
            <div class="card-image">
              <img :src="`${ screening.film.image }`" class="img-responsive">
            </div>
            <div class="card-header">
              <div class="card-title h5"><a :href="`screenings/${ screening.slug }/${ screening.id }/`">${screening.film.name}</a></div>
              <div class="card-subtitle text-gray">${ screening.venue.name }, ${ screening.venue.county }</div>
            </div>
            <div class="card-body">
              ${ screening.date } ${ screening.start_time }
            </div>
            <div class="card-footer">
              <a :href="`${ screening.tickets }`" target="_blank" class="btn btn-primary">Buy tickets</a>
            </div>
          </div>
      </div>

  </div>


  {% else %}
    <div class="empty">
      <div class="empty-icon">
        <i class="icon icon-cross"></i>
      </div>
      <p class="empty-title h5">There are no upcoming screenings</p>
    </div>
  {% endif %}

<script type="text/javascript">
   new Vue({
     el: '#whatson',
     delimiters: ['${','}'],
     data: {
     screenings: [],
     loading: false,
     currentScreening: {},
     message: null,
   },
   mounted: function() {
     this.getScreenings();
  },
   methods: {
     getScreenings: function() {
   this.loading = true;
   this.$http.get('/api/screening/')
       .then((response) => {
         this.screenings = response.data;
         this.loading = false;
       })
       .catch((err) => {
        this.loading = false;
        console.log(err);
       })
  },
  }
  });
</script>

{% endblock content %}
