{% extends "core/base.html" %}
{% block title %}
  Dashboard
{% endblock title %}
{% block content %}

    <div class="hero hero-lg bg-dark">
      <div class="hero-body">
        <h1>What's On</h1>
        <p>Example</p>
      </div>
    </div>

  {% if screenings %}

  <div class="columns mt-2">
    {% for screening in screenings %}
      <div class="column col-4">
          <div class="card">
            <div class="card-image">
              <img src="https://picturepan2.github.io/spectre/img/macos-sierra.jpg" class="img-responsive">
            </div>
            <div class="card-header">
              <div class="card-title h5"><a href="{% url 'screening-detail' screening.slug screening.id %}">{{ screening.film }}</a></div>
              <div class="card-subtitle text-gray">{{ screening.venue }}</div>
            </div>
            <div class="card-body">
              {{ screening.date }} {{ screening.start_time }}
            </div>
            <div class="card-footer">
              <a href="{{ screening.tickets }}" class="btn btn-primary">Buy tickets</a>
            </div>
          </div>
      </div>
    {% endfor %}
  </div>

  {% else %}
    <div class="empty">
      <div class="empty-icon">
        <i class="icon icon-cross"></i>
      </div>
      <p class="empty-title h5">There are no upcoming screenings</p>
    </div>
  {% endif %}

{% endblock content %}
