{% extends "core/base.html" %}

{% block og:title %}What's On{% endblock og:title %}
{% block twitter:title %}What's On{% endblock twitter:title %}

{% block og:image %}{% load static %}{% static 'images/home.jpg' %}{% endblock og:image %}
{% block twitter:image %}{% load static %}{% static 'images/home.jpg' %}{% endblock twitter:image %}

{% block title %}What's On{% endblock title %}

{% block banner %}
  {% load static %}
  <div class="jumbotron jumbotron-fluid jumbotron-home banner mt-5 text-center" alt="null" style="background-image: linear-gradient(#00000080, #0200007d), url({% static 'images/home.jpg' %});">
    <h1 class="display-4 text-white mt-5 font-weight-bold">{{ title }}</h1>
    <p class="lead text-white">{{ description }}</p>
  </div>
{% endblock %}

{% block content %}

<div id="whatson" class="mt-5">
  {% if screenings %}
  <h1 class="display-5 text-center">Upcoming Screenings</h1>

  <div class="row mt-5">
    <div class="col">

    </div>
    <div class="col-md-6">
      <form class="input-group mb-2">
          {% csrf_token %}
            <input type="search" class="form-control" name="search" placeholder="Search by film, cinema, city... " aria-label="Search" v-model="search_term">
            <div class="input-group-append">
              <button class="btn btn-dark input-group-btn" v-on:click.prevent="getScreenings()">Search</button>
            </div>
      </form>

      <div class="text-center mt-3">
        <a href="{% url 'screening-month' %}" name="button" class="btn btn-dark">Next 30 Days</a>
        <input type="date" name="button" placeholder="date" class="btn btn-dark html5-date-picker" v-model="search_term">
        <!-- <input type="text" name="button" placeholder="date" id="datepicker" class="safari-date-picker" v-model="search_term"> -->

      </div>
    </div>
    <div class="col">

    </div>
  </div>



    <div class="row mt-5">
        <div class="col-sm-4" v-for="screening in screenings.slice(0, 9)">

          <div class="card mb-4">
            <a :href="`screenings/${ screening.id }/`" class="card-link">
              <img :src="`${ screening.film.image_thumbnail }`" :alt="`${ screening.film.name }`" class="card-img-top">
            </a>
            <div class="card-body">
              <div class="card-title h5"><a :href="`screenings/${ screening.id }/`">${ screening.film.name } ${ screening.subtitle }</a></div>
              <div class="card-text text-muted">${ screening.venue.name }, ${ screening.venue.city }</div>
              <div class="card-text text-muted">${ screening.date } - ${ screening.start_time }</div>
              <a :href="`${ screening.tickets }`" target="_blank" class="btn btn-outline-primary mt-3">Buy tickets</a>
            </div>
          </div>

        </div>
    </div>
    <div class="row mt-4 mb-5">
      <div class="col text-center">
          <a class="btn btn-outline-dark" href="{% url 'screenings' %}">Find more</a>
      </div>
    </div>
    <hr>


{% endif %}

</div>

  {% if articles %}
  <div class="mt-5">
    {% for article in articles %}
      {% if article.pinned %}
        <a href="{% url 'article-detail' article.slug article.id %}" class="article-card">
          <div class="jumbotron jumbotron-fluid banner mt-5 text-center" alt="{{ article.title }}" style="background-image: linear-gradient(#00000080, #0200007d), url({{ article.image_thumbnail.url }});">
            <h1 class="text-white mt-5 font-weight-bold"><span>{{ article.title }}</span></h1>
            <p class="lead text-white">
                {% if article.show_author %}{{ article.author }}{% endif %}
                {% if article.show_date %} // {{ article.date|date:"l j F" }}{% endif %}
              </p>
          </div>
        </a>
      {% endif %}
    {% endfor %}

    {% for article in articles|slice:":3" %}
      {% if not article.pinned %}
        <a href="{% url 'article-detail' article.slug article.id %}" class="article-card">
          <div class="jumbotron jumbotron-fluid banner mt-5 text-center" alt="{{ article.title }}" style="background-image: linear-gradient(#00000080, #0200007d), url({{ article.image_thumbnail.url }});">
            <h1 class="text-white mt-5 font-weight-bold"><span>{{ article.title }}</span></h1>
            <p class="lead text-white">
                {% if article.show_author %}{{ article.author }}{% endif %}
                {% if article.show_date %} // {{ article.date|date:"l j F" }}{% endif %}
              </p>
          </div>
        </a>
      {% endif %}
    {% endfor %}
  </div>
      <div class="row mt-5 mb-5">
        <div class="col text-center">
            <a class="btn btn-outline-dark" href="{% url 'articles' %}">Find more</a>
        </div>
      </div>
    <hr>
    {% endif %}


<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>

<script>
var isDateSupported = function () {
	var input = document.createElement('input');
	var value = 'a';
	input.setAttribute('type', 'date');
	input.setAttribute('value', value);
	return (input.value !== value);
};

if (isDateSupported()) {
	// Browser native date pickers are supported
  $(".safari-date-picker").hide();
}

if (!isDateSupported()) {
	// No support.
  $(".html5-date-picker").hide();      
}
</script>




<script type="text/javascript">
  Vue.http.headers.common['X-CSRFToken'] = "{{ csrf_token }}";
   new Vue({
     el: '#whatson',
     delimiters: ['${','}'],
     data: {
       screenings: [],
       message: null,
       search_term: '',
      },
      mounted: function() {
      this.getScreenings();
      },
       methods: {
         getScreenings: function() {
           let api_url = '/api/screening/';
           if(this.search_term!==''||this.search_term!==null) {
             api_url = `/api/screening/?search=${this.search_term}`
           }
           this.$http.get(api_url)
            .then((response) => {
            this.screenings = response.data.results;
           })
           .catch((err) => {
             console.log(err);
           })
          },
        }

  });
</script>


{% endblock content %}
