{% extends "core/base.html" %}

{% block og:title %}Venues{% endblock og:title %}
{% block twitter:title %}Venues{% endblock twitter:title %}

{% block og:image %}{% load static %}{% static 'images/home.jpg' %}{% endblock og:image %}
{% block twitter:image %}{% load static %}{% static 'images/home.jpg' %}{% endblock twitter:image %}


{% block title %}
  Venues
{% endblock title %}

{% block content %}
{% load thumbnail %}

<div class="container">
  <h1 class="display-3 font-weight-bold">Venues</h1>
    {% if venues %}

    <div class="row mt-5">
      {% for venue in venues %}
        <div class="col-sm-4">
            <div class="card mb-4">
              <a href="{% url 'venue-detail' venue.slug venue.id %}">
                <img src="{{ venue.image|thumbnail_url:'cardThumb' }}" class="card-img-top">
              </a>
              <div class="card-body">
                <div class="card-title h5"><a href="{% url 'venue-detail' venue.slug venue.id %}">{{ venue.name }}</a></div>
                <div class="card-text">{{ venue.city }}</div>
                <a class="btn btn-primary mt-3" href="{% url 'venue-detail' venue.slug venue.id %}">Find screenings</a>
              </div>
            </div>
        </div>
      {% endfor %}
    </div>

    {% if is_paginated %}

      {% include "../includes/pagination.html" %}

    {% endif %}


{% endif %}
</div>
{% endblock content %}
