{% extends "core/base.html" %}
{% block title %}
  Venues
{% endblock title %}

{% block content %}
{% load thumbnail %}

<div class="mt-5">
  <h1 class="display-4">Venues</h1>
    {% if venues %}

    <div class="row mt-5">
      {% for venue in venues %}
        <div class="col-sm-4">
            <div class="card mb-4">
              <a href="{% url 'venue-detail' venue.slug venue.id %}">
                <img src="{{ venue.image|thumbnail_url:'cardThumb' }}" class="card-img-top">
              </a>
              <div class="card-body">
                <div class="card-title h5"><a href="{% url 'venue-detail' venue.slug venue.id %}">{{ venue.name }}</a></div>
                <div class="card-text">{{ venue.county }}</div>
                <a class="btn btn-primary mt-3" href="{% url 'venue-detail' venue.slug venue.id %}">Find screenings</a>
              </div>
            </div>
        </div>
      {% endfor %}
    </div>

{% else %}
<p class="">You have no venues</p>

{% endif %}
</div>
{% endblock content %}
