{% extends "core/base.html" %}
{% block title %}
  {{ object.name }}
{% endblock title %}
{% block content %}
{% load thumbnail %}
  <div class="mt-5">
    <h1>{{ object.name }}</h1>
    <img src="{{ venue.image.url }}" width=600px>
    <p>
      {% if object.website %}
        <a target="_blank" href="{{ object.website }}"><i class="fas fa-link"></i></a>
      {% endif %}
      {% if object.twitter %}
        <a target="_blank" href="https://twitter.com/{{ object.twitter}}"><i class="fab fa-twitter"></i></a>
      {% endif %}
      {% if object.facebook %}
        <a target="_blank" href="https://facebook.com/{{ object.facebook }}"><i class="fab fa-facebook-f"></i></a>
      {% endif %}
    </p>
    <p>{{ object.city }}</p>
  </div>

<div class="mt-5">

{% if screenings %}
<h1 class="display-4">What's On</h1>
  <div class="row mt-5">

      {% for screening in screenings %}
      <div class="col-sm-4">
        <div class="card mb-4">
              <a href="/screenings/{{screening.id}}/">
                <img src="{{ screening.film.image|thumbnail_url:'cardThumb' }}" class="card-img-top">
              </a>
              <div class="card-body">
                <div class="card-title h5"><a href="/screenings/{{screening.id}}/">{{ screening.film }}</a></div>
                <div class="card-text">{{ screening.venue }}, {{ screening.venue.city }}</div>
                <div class="card-text">{{ screening.date }} {{ screening.start_time }}</div>
                <a href="{{ screening.tickets }}" target="_blank" class="btn btn-primary mt-3">Buy tickets</a>
              </div>
        </div>
      </div>
      {% endfor %}
  </div>

{% else %}

      <p class="">There are no upcoming screenings</p>

{% endif %}
</div>

{% if pastscreenings %}

<h3>Past Screenings</h3>
<div class="row mt-5">

    {% for screening in pastscreenings %}
    <div class="col-sm-4">
      <div class="card mb-4">
            <a href="/screenings/{{screening.id}}/">
              <img src="{{ screening.film.image|thumbnail_url:'cardThumb' }}" class="card-img-top">
            </a>
            <div class="card-body">
              <div class="card-title h5"><a href="/screenings/{{screening.id}}/">{{ screening.film }}</a></div>
              <div class="card-text">{{ screening.venue }}, {{ screening.venue.city }}</div>
              <div class="card-text">{{ screening.date }} {{ screening.start_time }}</div>
            </div>
      </div>
    </div>
    {% endfor %}
</div>

{% endif %}
{% endblock content %}
