<div class="row mt-5">

    {% for object in object_list %}
    <div class="col-sm-4">
      <div class="card mb-4">
            <a href="{% url 'screening-detail' object.id %}" class="card-link">
              <img src="{{ object.film.image_thumbnail.url }}" alt="{{ object.film }}" class="card-img-top">
            </a>
            <div class="card-body">
              <div class="card-title h5"><a href="{% url 'screening-detail' object.id %}">{{ object.film }} {{ object.subtitle }}</a></div>
              <div class="card-text text-muted">{{ object.venue }}, {{ object.venue.city }}</div>
              <div class="card-text text-muted">{{ object.date|date:"l j F" }} - {{ object.start_time|time:"H:i" }}</div>
              <a href="{{ object.tickets }}" target="_blank" rel="noopener" class="btn btn-outline-primary mt-3">Buy tickets</a>
            </div>
      </div>
    </div>
    {% endfor %}

</div>

{% if is_paginated %}
<hr>
  {% include "../includes/pagination.html" %}

{% endif %}
