{% extends "core/base.html" %}

{% block og:title %}{{ flatpage.title }}{% endblock og:title %}
{% block twitter:title %}{{ flatpage.title }}{% endblock twitter:title %}

{% block og:image %}{% load static %}{% static 'images/home.jpg' %}{% endblock og:image %}
{% block twitter:image %}{% load static %}{% static 'images/home.jpg' %}{% endblock twitter:image %}

{% block title %}{{ flatpage.title }}{% endblock title %}

{% block schema %}
    "@type": "Project",
    "name" : "{{ title }}",
    "url" : "https://{{ request.get_host }}",
    "logo" : "{% static 'icons/icon.png' %}"
{% endblock schema %}

{% block content %}

<div class="container">
  <h1 class="font-weight-bold mt-10">{{ flatpage.title }}</h1>
  <div class="col-md-8 mt-5 article-text">
    {{ flatpage.content }}
  </div>

</div>



{% endblock content %}
